<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to Search User Interface!
  </h1>

  <select (change) = "sortOptionChanged($event)">

    <option *ngFor = "let option of dropDownOptions" [value] = "option.Key">
      {{option.Value}}

    </option>
  </select>

  <div class="keyword-wrapper">
    <input [formControl]="searchControl" type="text" id="search" placeholder="search for users..." autofocus/>
  </div>

  <div>

    total count : {{ totalCount}}

    <p *ngFor = "let user of userSearchResults">
      {{user}}
    </p>
  </div>
</div>


